# Default values for loki umbrella chart

# ExternalSecret for S3 credentials from 1Password
externalSecret:
  enabled: false
  itemName: ""

# Loki chart values
loki:
  deploymentMode: Distributed
  global:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: s3-credentials
  loki:
    revisionHistoryLimit: 0
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    pattern_ingester:
      enabled: true
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
    storage:
      type: s3