# ClusterIssuer that uses the trust anchor to sign identity certs
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: linkerd-identity-issuer
spec:
  ca:
    secretName: linkerd-trust-anchor
---
# The identity issuer certificate - stored in linkerd namespace
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: linkerd-identity-issuer
  namespace: {{ .Release.Namespace }}
spec:
  isCA: true
  commonName: identity.linkerd.cluster.local
  secretName: linkerd-identity-issuer
  duration: {{ .Values.certManager.identityIssuerDuration }}
  renewBefore: {{ .Values.certManager.identityIssuerRenewBefore }}
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
  issuerRef:
    name: linkerd-identity-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  dnsNames:
    - identity.linkerd.cluster.local
  usages:
    - cert sign
    - crl sign
    - server auth
    - client auth
