# ArgoCD self-management Application
#
# After initial bootstrap, ArgoCD manages itself through this Application.
# Changes to the bootstrap chart or values will be automatically synced.

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/bcrisp4/infra.git
    targetRevision: HEAD
    path: kubernetes/clusters/{{cluster_name}}/argocd/bootstrap
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    managedNamespaceMetadata:
      annotations:
        linkerd.io/inject: enabled
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
