{{- if .Values.externalSecret.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-oauth
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: operator-oauth
    creationPolicy: Owner
  data:
    - secretKey: client_id
      remoteRef:
        key: "op://{{ .Values.externalSecret.vault }}/{{ .Values.externalSecret.itemName }}/username"
    - secretKey: client_secret
      remoteRef:
        key: "op://{{ .Values.externalSecret.vault }}/{{ .Values.externalSecret.itemName }}/password"
{{- end }}
