{{- if .Values.externalSecret.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-oauth
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: operator-oauth
    creationPolicy: Owner
  data:
    - secretKey: client_id
      remoteRef:
        key: {{ .Values.externalSecret.itemName | quote }}
        property: username
    - secretKey: client_secret
      remoteRef:
        key: {{ .Values.externalSecret.itemName | quote }}
        property: password
{{- end }}
