apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: mesh-enabled
spec:
  statefulSet:
    pod:
      tailscaleContainer:
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
