apiVersion: v1
kind: Service
metadata:
  name: paperless-ngx-redis
  labels:
    app.kubernetes.io/name: paperless-ngx-redis
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    app.kubernetes.io/name: paperless-ngx-redis
    app.kubernetes.io/instance: {{ .Release.Name }}
