{{- if .Values.barmanCloudPlugin.enabled }}
# ObjectStore CRD for Barman Cloud Plugin
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: objectstores.barmancloud.cnpg.io
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
spec:
  group: barmancloud.cnpg.io
  names:
    kind: ObjectStore
    listKind: ObjectStoreList
    plural: objectstores
    singular: objectstore
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      subresources:
        status: {}
{{- end }}
