apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: grafana-db
spec:
  instances: {{ .Values.database.instances }}

  storage:
    size: {{ .Values.database.storage.size }}

  resources:
    {{- toYaml .Values.database.resources | nindent 4 }}

  bootstrap:
    initdb:
      database: grafana
      owner: grafana

  postgresql:
    parameters:
      # Optimize for Grafana workload
      shared_buffers: "128MB"
      effective_cache_size: "256MB"

  {{- if .Values.backup.enabled }}
  # Enable WAL archiving via Barman Cloud Plugin
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: grafana-db-backup
  {{- end }}
