{{- if .Values.backup.enabled }}
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: mlflow-db-backup
spec:
  retentionPolicy: {{ .Values.backup.retentionPolicy | quote }}
  configuration:
    destinationPath: s3://{{ .Values.backup.s3.bucket }}/{{ .Values.backup.s3.path }}
    endpointURL: https://{{ .Values.backup.s3.endpoint }}
    s3Credentials:
      accessKeyId:
        name: mlflow-db-backup-s3
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: mlflow-db-backup-s3
        key: ACCESS_SECRET_KEY
    wal:
      compression: gzip
      maxParallel: 2
    data:
      compression: gzip
  instanceSidecarConfiguration:
    env:
      - name: AWS_REQUEST_CHECKSUM_CALCULATION
        value: when_required
      - name: AWS_RESPONSE_CHECKSUM_VALIDATION
        value: when_required
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 512Mi
{{- end }}
