{{- if .Values.allowIstioAmbient.enabled }}
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: allow-istio-ambient
spec:
  description: "Allow Istio ambient mesh HBONE tunnel and health probe traffic"
  endpointSelector: {}
  ingress:
    # Allow HBONE tunnel from ztunnel (runs on host)
    - fromEntities:
        - host
      toPorts:
        - ports:
            - port: "15008"
              protocol: TCP
    # Allow health probe SNAT address (Istio ambient SNATs kubelet probes)
    - fromCIDR:
        - 169.254.7.127/32
  egress:
    # Allow HBONE tunnel to ztunnel
    - toEntities:
        - host
      toPorts:
        - ports:
            - port: "15008"
              protocol: TCP
{{- end }}
