{{- if .Values.blockMetadata.enabled }}
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: block-metadata
spec:
  description: "Block access to cloud metadata endpoint (169.254.169.254)"
  endpointSelector: {}
  egressDeny:
    - toCIDR:
        - 169.254.169.254/32
{{- end }}
