{{- if .Values.defaultDeny.enabled }}
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: default-deny
spec:
  description: "Default deny all ingress and egress for workload namespaces"
  endpointSelector:
    matchExpressions:
      - key: k8s:io.kubernetes.pod.namespace
        operator: NotIn
        values:
          {{- range .Values.defaultDeny.excludeNamespaces }}
          - {{ . | quote }}
          {{- end }}
  ingress: []
  egress: []
{{- end }}
