{{- if .Values.peerAuthentication.enabled }}
apiVersion: security.istio.io/v1
kind: PeerAuthentication
metadata:
  name: default
  namespace: istio-system
spec:
  mtls:
    mode: {{ .Values.peerAuthentication.mode | default "STRICT" }}
{{- end }}
